@use '../../../_colors.scss' as *;
@use '../../../_animations.scss';

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 22%;
  min-width: 320px;
  min-height: 320px;
  background-color: $color-light-orange;
  border-radius: 3px;
  padding: 3px;
  animation: fadeIn 5s;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: $color-very-light-orange;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 3px;
    &__score {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        height: 20px;
        width: 24px;
        path {
          fill: white;
        }
      }
      .upvote {
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
          svg {
            path {
              fill: $color-green;
            }
          }
        }
        &--selected {
          svg {
            path {
              fill: $color-green;
            }
          }
        }
      }
      .downvote {
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        padding-bottom: 3px;
        &:hover {
          cursor: pointer;
          svg {
            path {
              fill: $color-red;
            }
          }
        }
        &--selected {
          svg {
            path {
              fill: $color-red;
            }
          }
        }
      }
    }
    &__favourite {
      display: flex;
      align-items: center;
      svg {
        height: 24px;
        width: 24px;
        path {
          fill: white;
        }
      }
      &:hover {
        cursor: pointer;
        svg {
          path {
            fill: $color-pink;
          }
        }
      }
      &--selected {
        svg {
          path {
            fill: $color-pink;
          }
        }
      }
    }
  }
}
