@use '../../../_colors.scss' as *;

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $color-orange;
  min-width: 300px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  &__content {
    display: flex;
    flex: 1;
  }
}
